<div style="position: relative;">
  <div class="header-and-top-section-container">
    <!--<div class="lang-button">-->
      <!--RU-->
    <!--</div>-->
    <div class="description-eth-invest">
      <h3>Проект по распределению криптовалюты <br> ETH с
        <a ng-href="https://etherscan.io/address/{{$ctrl.addr}}#code" target="_blank" class="description-eth-invest-link">Открытым исходным кодом</a></h3>
      <br>
      <h3>3%-4% в день!</h3>
    </div>
    <div class="description-eth-invest-more">
      Безопасность вложений и гарантия пожизненных выплат <br>
      обеспечена командой <b>Ethereum</b>! Выплаты <b>2 раза</b> в день!
      <a href="#how-section" class="eth-invest-more-btn">
        Вложить ETH
      </a>
    </div>
    <ul class="block-with-icons">
      <li><img ng-src="{{ 'top-icon-1' | backgroundSectionUrl:'img' }}" alt="">
        <div>Пожизненые <br> выплаты</div>
      </li>
      <li><img ng-src="{{ 'top-icon-2' | backgroundSectionUrl:'img' }}" alt="">
        <div>Революционная <br> надежность</div>
      </li>
      <li><img ng-src="{{ 'top-icon-3' | backgroundSectionUrl:'img' }}" alt="">
        <div>Минимальный <br> вклад <b>0.005</b> ETH</div>
      </li>
      <li><img ng-src="{{ 'top-icon-4' | backgroundSectionUrl:'img' }}" alt="">
        <div>Реферальная <br> Программа <b>2%-3%</b></div>
      </li>
    </ul>
    <div class="eth-logo-animate">
      <icon-animate-component name="'eth-logo'"></icon-animate-component>
    </div>
  </div>
</div>
