<div style="position: relative;">
  <div class="header-and-top-section-container">
    <div class="lang-button">
      <div class="lang-button-current-lang" ng-click="$ctrl.toogleLang = !$ctrl.toogleLang">
        {{$ctrl.currentLang}}
      </div>
      <ul class="lang-button-list" ng-if="$ctrl.toogleLang">
        <li ng-repeat="lang in $ctrl.languages" ng-click="$ctrl.changeLang(lang)" ng-bind="lang"></li>
      </ul>
    </div>
    <div class="description-eth-invest" ng-bind-html="'top-section-description-with-code' | translateFilter: $ctrl.langs"></div>
    <div class="description-eth-invest-more" ng-bind-html="'top-section-description-more-information' | translateFilter: $ctrl.langs"></div>
    <ul class="block-with-icons">
      <li><img ng-src="{{ 'top-icon-1' | backgroundSectionUrl:'img' }}" alt="">
        <div ng-bind-html="'top-section-description-info-list-min-risk' | translateFilter: $ctrl.langs"></div>
      </li>
      <li><img ng-src="{{ 'top-icon-2' | backgroundSectionUrl:'img' }}" alt="">
        <div ng-bind-html="'top-section-description-info-list-guaranteed' | translateFilter: $ctrl.langs"></div>
      </li>
      <li><img ng-src="{{ 'top-icon-3' | backgroundSectionUrl:'img' }}" alt="">
        <div ng-bind-html="'top-section-description-info-list-min-invest' | translateFilter: $ctrl.langs"></div>
      </li>
      <li><img ng-src="{{ 'top-icon-4' | backgroundSectionUrl:'img' }}" alt="">
        <div ng-bind-html="'top-section-description-info-list-ref-program' | translateFilter: $ctrl.langs"></div>
      </li>
    </ul>
    <div class="eth-logo-animate">
      <icon-animate-component name="'eth-logo'"></icon-animate-component>
    </div>
  </div>
</div>
