<section class="about-section" ng-style="('about-background' | backgroundSectionUrl)">
  <circle-component type="'line'" side="'right'" id="'about-section'"></circle-component>
  <circle-component type="'circle'" id="'about-section'"></circle-component>

  <div class="container section-container" id="about-section">
    <div class="about-cover">
      <h3 class="mb-default-half">О фонде</h3>
      <p>
        Контракт запущен в блокчейне <a href="https://www.ethereum.org">Ethereum</a>.
        Переписать конткракт или как-нибудь его изменить уже <b>невозможно</b>.
        Первые <b>1000</b> инвесторов, инвестирующие разом <b>10 ETH</b> или более,
        увеличат свой  процент на ежедневный доход с <b><s>3%</s></b> до <b>3.5%</b>,
        а также реферальный бонус составит не <b><s>2%</s></b> а <b>3%</b> <b>навсегда</b>!
        Инвестируйте с умом, мы предоставляем Вам, хороший инструмент для заработка,
        тем не менее оценивайте все риски и не инвестируйте последнии или заемные средства.
      </p>
    </div>
    <div class="about-icon-animate">
      <icon-animate-component name="'about'" id="'about-section'"></icon-animate-component>
    </div>
  </div>
</section>