<section class="about-section" ng-style="('about-background' | backgroundSectionUrl)">
  <circle-component type="'line'" side="'right'" id="'about-section'"></circle-component>
  <circle-component type="'circle'" id="'about-section'"></circle-component>

  <div class="container section-container" id="about-section">
    <div class="about-cover"  ng-bind-html="'about-section-description' | translateFilter: $ctrl.langs"></div>
    <div class="about-icon-animate">
      <icon-animate-component name="'about'" id="'about-section'"></icon-animate-component>
    </div>
  </div>
</section>