.inline-block {
  display: inline-block; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.main-component .header-and-about-section {
  height: 600px;
  background: url("../images/top-section/background.png");
  background-size: cover; }

.header-page {
  height: 82px;
  padding: 12px 0; }
  .header-page ul {
    list-style: none;
    display: inline-block;
    height: 82px; }
  .header-page ul li {
    display: inline-block;
    padding: 0 8px;
    line-height: 82px; }
  .header-page ul li a {
    color: #fff; }
  .header-page ul li a:hover {
    color: #f7a04d; }
