<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Крипто дивиденды">
  <meta name="keywords" content="Доход с ethereum">
  <meta name="keywords" content="дивиденды с криптовалюты">
  <meta name="keywords" content="Доход с eth">
  <meta name="keywords" content="Ethereum">
  <meta name="keywords" content="Eth invest">
  <meta name="keywords" content="Eth-invest">
  <meta name="keywords" content="Eth-invest com">
  <meta name="keywords" content="Постоянный доход с ефира">
  <meta name="keywords" content="Майнинг">
  <meta name="keywords" content="Криптовалюта">
  <meta name="keywords" content="Акции криптовалюты">
  <meta name="keywords" content="333eth">
  <meta name="keywords" content="333eth io">
  <meta name="keywords" content="200percent">
  <meta name="keywords" content="200percent io">
  <meta name="keywords" content="120percent">
  <meta name="keywords" content="120percent com">
  <meta name="keywords" content="555eth">
  <meta name="keywords" content="111eth">
  <meta name="keywords" content="777eth">
  <meta name="keywords" content="Виталий Бутерин">
  <meta name="keywords" content="Дивиденды">
  <meta name="keywords" content="Смарт контракт">
  <meta name="keywords" content="Проект по распределению криптовалюты eth">
  <title>EthInvest</title>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <link rel="shortcut icon" href="https://eth-invest.com/images/eth.ico">
  <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="ethApp" ng-controller="MainController">
<div ng-if="!loaded || spinner" class="eth-loader" id="eth-app-loader">
  <div class="eth-loader-block">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div id="loader-text">загрузка</div>
  </div>
</div>
<h2 style="opacity: 0;position: absolute;left: -999px">Eth-invest, получайте дивиденды с криптовалюты</h2>
<p style="opacity: 0;position: absolute;left: -999px">
  Инвестируй и зарабатывай! <br>
  Получай дивиденды каждый час! <br>
  <b>1 ETH</b> => <b>1.2 ETH</b> уже через <b>15 дней</b>
</p>
<div ng-if="loaded">
  <main-component></main-component>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
      try {
        w.yaCounter50890154 = new Ya.Metrika2({
          id: 50890154,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true
        });
      } catch (e) {
      }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () {
          n.parentNode.insertBefore(s, n);
        };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/tag.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else {
      f();
    }
  })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/50890154" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<script src="bower/angular/angular.min.js"></script>
<script src="bower/lodash/dist/lodash.min.js"></script>
<script src="scripts/lottie.js"></script>
<script src="scripts/Chart.min.js"></script>
<script src="scripts/angular-chart.min.js"></script>
<script src="scripts/all.js"></script>
</body>
</html>