<section class="how-section" ng-style="('how-background' | backgroundSectionUrl)">
  <circle-component type="'line'" side="'right'" id="'how-section'"></circle-component>
  <circle-component type="'circle'" id="'how-section'"></circle-component>

  <div class="container section-container" id="how-section">
    <div class="how-information-block">
      <div class="mb-default how-description-cover">
        <div class="pull-left how-block">
          <h3 class="how-title">Как инвестировать в проект и начать получать пассивный доход?</h3>

          <p class="how-description">
            1. Необходимо зарегистрировать кошелек на <a href="https://www.myetherwallet.com">myetherewallet</a>.

            2. Затем необходимо пополнить Ваш баланс, сделать это можно на <a
              href="https://www.bestchange.ru/">bestchange</a>.

            3. После пополнения кошелька, необходимо перевести ETH на адрес нашего смарт контракта:
            <a ng-href="https://etherscan.io/address/{{$ctrl.addr}}" target="_blank" ng-bind="$ctrl.addr"></a>

            4. Затем, каждые 12 часов необходимо отправлять по <b>0 ETH</b>, на адрес контракта,
            контракт автоматически переведет на Ваш адрес средства.
          </p>
        </div>
        <div class="pull-right how-block how-block-with-icon">
          <div class="how-section-icon how-section-wallet-icon" id="how-section-wallet-icon">
            <icon-animate-component name="'wallet'" id="'how-section-wallet-icon'"></icon-animate-component>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="mb-default mt-default">
        <div class="pull-left how-block how-block-with-icon">
          <div class="how-section-icon how-section-card-icon" id="how-section-card-icon">
            <icon-animate-component name="'card'" id="'how-section-card-icon'"></icon-animate-component>
          </div>
        </div>
        <div class="how-block pull-right">
          <h3 class="how-title">Мы также разработали для Вас реферальную программу.</h3>
          <p class="how-description">
            При следующем выводе средств с контракта, контракт автоматически пополнит Ваш баланс, на <b>2%-3%</b> от
            суммы инвестирования
            реферала. А также, вашему рефералу будут начисляться дивиденды на <b>2%</b> больше, от его инвестиций.
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="mb-default mt-default">
        <div class="how-block pull-left">
          <h3 class="how-title">Куда идет часть инвестированных мною средств?</h3>
          <p class="how-description">
            Часть Ваших средств, а именно 13%, автоматически распределятся между ETH кошельками, 5% пойдет в фонд
            разработчиков, на развитие проекта, чуть позже добавим дорожную карту.
            8% пойдет в фонд раскрутки и продвижения проекта, каждый месяц 50% с фонда будет распределяться между участниками,
            чьи рефералы инвестировали больше всего в проект. Топ 10 поделят эту награду следующим образом
            <b>1-е</b> место 30%,
            <b>2-е</b> место 20%,
            <b>3-е</b> место 10%,
            <b>4-10</b> место по 7%,
            1% пойдет на оплату комиссий
            данные будут опубликованны позже, со всеми деталями и доказательствами.
            Остальные 87% пойдут в фонд контракта, для распределения средств между участниками.
          </p>
        </div>
        <div class="pull-right how-block how-block-with-icon">
          <div class="how-section-icon how-section-eth-icon" id="how-section-eth-icon">
            <icon-animate-component name="'eth'" id="'how-section-eth-icon'"></icon-animate-component>
          </div>
        </div>

      </div>

      <div class="clearfix"></div>
      <div class="mb-default mt-default">
        <div class="pull-left how-block how-block-with-icon">
          <div class="how-section-icon how-section-money-icon" id="how-section-money-icon">
            <icon-animate-component name="'money'" id="'how-section-money-icon'"></icon-animate-component>
          </div>
        </div>
        <div class="how-block pull-right">
          <h3 class="how-title">Что произойдет, когда у контракта закончатся средства?</h3>
          <p class="how-description">
            Да, такое может произойти, но ничего страшного здесь нет, мы провели небольшие расчеты, денежных средств
            должно
            хватить на несколько месяцев, а то и на несколько лет.
            Все зависит от того насколько много людей будут инвестировать в проект, раз Dы узнали об этом проекте, это
            значит
            - дела идут неплохо.
            Мы создали отдельный фонд, он как раз и отвечает за рекламу и продвижение проекта, в наших интересах
            продвигать
            данный проект и выплачивать Вам дивиденды
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="mb-default mt-default">
        <div class="how-block pull-left">

          <h3 class="how-title">Почему Я должен доверить свои деньги проекту?</h3>

          <p class="how-description">
            1. Специально для этого мы загрузили в открытый доступ, код нашего <a ng-href="https://etherscan.io/address/{{$ctrl.addr}}#code" target="_blank">смарт контракта</a>.
            2. Вы можете инвестировать минимальную сумму, а через 12 часов забрать свои <b>дивиденды</b>.
            3. Мы также рекомендуем Вам, ознакомиться с <a ng-href="https://etherscan.io/address/{{$ctrl.addr}}#events" target="_blank">историей событий</a> нашего контаркта.
          </p>
        </div>

        <div class="pull-right how-block how-block-with-icon">
          <div class="how-section-icon how-section-field-icon" id="how-section-field-icon">
            <icon-animate-component name="'field'" id="'how-section-field-icon'"></icon-animate-component>
          </div>
        </div>

      </div>


    </div>
  </div>
</section>