<div class="main-component">
  <section class="header-and-top-section" ng-style="('top-background' | backgroundSectionUrl)">
    <div class="container">
      <header-component></header-component>
      <top-section-component></top-section-component>
    </div>
  </section>
  <info-section-component></info-section-component>
  <about-component></about-component>
  <invest-component></invest-component>
  <!--<review-component></review-component>-->
  <how-component></how-component>
  <latest-transaction-component></latest-transaction-component>
  <dashboard-component></dashboard-component>
  <!--<section class="questions-section"></section>-->
  <section class="footer-section">
    <div class="container footer-section-container">
      <ul class="footer-section-social-link ">
        <li class="footer-section-social-link-item"><a href="https://t.me/joinchat/AAAAAEcefmwUkgjZ_nSA2w"></a></li>
        <li class="footer-section-social-link-item"><a href="https://twitter.com/eth_invest"></a></li>
        <li class="footer-section-social-link-item"><a href="https://github.com/eth-products/eth-invest" target="_blank"></a></li>
      </ul>
    </div>
  </section>
</div>