<section class="transactions-section">
  <circle-component type="'line'" side="'left'" id="'transactions-section'"></circle-component>
  <div class="container section-container" id="transactions-section">
    <div class="transactions-section-content">
      <h3 class="transactions-section-title">Список последних операций</h3>
      <div>
        <table-component data="$ctrl.dataTable"></table-component>
        <a href="#how-section" class="eth-invest-more-btn pull-right">
          Вложить
        </a>
      </div>
    </div>
  </div>
</section>