<section class="information-section" ng-style="('information-background' | backgroundSectionUrl)">
  <div class="container section-container">
    <ul class="block-with-icons">
      <li>
        <div>
          <img ng-src="{{ 'info-icon-days' | backgroundSectionUrl:'img' }}" alt="">
          <div><b ng-bind="10 | number:0"></b> <span>Дней</span> <br> с запуска</div>
        </div>
      </li>
      <li>
        <div>
          <img ng-src="{{ 'info-icon-1' | backgroundSectionUrl:'img' }}" alt="">
          <div><b ng-bind="11234324 | number:0"></b> <span>ETH</span> <br> Собрано</div>
        </div>
      </li>
      <li>
        <div>
          <img ng-src="{{ 'info-icon-2' | backgroundSectionUrl:'img' }}" alt="">
          <div><b ng-bind="11234324 | number:0"></b><br> <span>USD</span></div>
        </div>
      </li>
      <li>
        <div>
          <img ng-src="{{ 'info-icon-3' | backgroundSectionUrl:'img' }}" alt="">
          <div><b ng-bind="11234324 | number:0"></b> <br><span>Вкладчиков</span></div>
        </div>
      </li>
    </ul>
  </div>
</section>