<section class="invest-section" ng-style="('invest-background' | backgroundSectionUrl)">
  <circle-component type="'line'" side="'left'" id="'invest-section'"></circle-component>
  <div class="container section-container" id="invest-section">
    <div class="info-icon-animate">
      <div class="info-icon-animate-block" ng-style="('info-income' | backgroundSectionUrl)">

      </div>
      <!--<icon-animate-component name="'info'" id="'invest-section'"></icon-animate-component>-->
    </div>
    <div class="invest-cover">
      <h3 class="mb-default-half">Вложения в проект</h3>
      <p>
        Для осуществления вклада в проект достаточно перечислить минимум <b>0.01 ETH</b>
        с вашего ETH кошелька* на адрес <a ng-href="https://etherscan.io/address/{{$ctrl.addr}}" target="_blank">смарт-контракта</a>. Блокчейн запомнит адрес кошелька, с
        которого был сделан вклад и автоматически, каждый час
        с момента вклада или с последнего удачного списания накопленного процента, будет производить начисления в ETH
        вкладчикам, пока в фонде для выплат есть средства. Размер начислений составляет <b>8%</b>. <br>
        <span class="text-warning">Не используйте биржи.</span>
        <span class="text-warning">
          Gas лимит: <b>200000</b>. Gas price можно посмотреть <a href="https://ethgasstation.info/" target="_blank">здесь</a>.
        </span>
      </p>
    </div>
  </div>
</section>