<section class="invest-section" ng-style="('invest-background' | backgroundSectionUrl)">
  <circle-component type="'line'" side="'left'" id="'invest-section'"></circle-component>
  <div class="container section-container" id="invest-section">
    <div class="info-icon-animate">
      <div class="info-icon-animate-block" ng-style="('info-income' | backgroundSectionUrl)">

      </div>
      <!--<icon-animate-component name="'info'" id="'invest-section'"></icon-animate-component>-->
    </div>
    <div class="invest-cover" ng-bind-html="'invest-section-description' | translateFilter: $ctrl.langs">
    </div>
  </div>
</section>